[submodule "leveling-contracts/lib/forge-std"]
	path = leveling-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "leveling-contracts/lib/openzeppelin-contracts"]
	path = leveling-contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
